<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Game Card</title>
	<link rel="stylesheet" href="style.css" />
</head>
<body>
	<div class="header">
		<h1 class="header_logo">Play Cards Applications</h1>
	</div>

	<div class="offset">

		<div class="collection">
			<div class="dropdown-container">
				<select>
				  <option value="1">January</option>
				  <option value="2">February</option>
				  <option value="3">March</option>
				  <option value="4">April</option>
				  <option value="5">May</option>
				  <option value="6">June</option>
				  <option value="7">July</option>
				  <option value="8">August</option>
				  <option value="9">September</option>
				  <option value="10">October</option>
				  <option value="11">November</option>
				  <option value="12">December</option>
				</select>
				<div class="select-icon">
				  <svg focusable="false" viewBox="0 0 104 128" width="25" height="35" class="icon">
					<path d="m2e1 95a9 9 0 0 1 -9 9 9 9 0 0 1 -9 -9 9 9 0 0 1 9 -9 9 9 0 0 1 9 9zm0-3e1a9 9 0 0 1 -9 9 9 9 0 0 1 -9 -9 9 9 0 0 1 9 -9 9 9 0 0 1 9 9zm0-3e1a9 9 0 0 1 -9 9 9 9 0 0 1 -9 -9 9 9 0 0 1 9 -9 9 9 0 0 1 9 9zm14 55h68v1e1h-68zm0-3e1h68v1e1h-68zm0-3e1h68v1e1h-68z"></path>
				  </svg>
				</div>
			</div>
			<div class="button__">
				<div id="btn"><span class="noselect">Submit</span><div id="circle"></div></div>
			</div>
			  
		</div>

		<div class="navigator">
			<a href="#" class="previous">&laquo; Previous</a>
			<a href="#" class="next">Next &raquo;</a>
		</div>

		<div class="card">
			<div class="card__inner">
				<div class="card__face card__face--front">
					<h2>Card Back</h2>
				</div>
				<div class="card__face card__face--back">
					<div class="card__content">
						<div class="card__header">
							<img src="pp.png" alt="" class="pp" />
							<h2>Tyler Potts</h2>
						</div>
						<div class="card__body">
							<h3>JavaScript Wizard</h3>
							<p>Lorem ipsum <strong>dolor</strong> sit amet, consectetur <strong>adipiscing</strong> elit. Sed id erat a magna lobortis dictum. Nunc est arcu, <strong>lacinia</strong> quis sapien placerat, <strong>laoreet</strong> tincidunt nulla.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="html">
			<div id="btn"><span class="noselect">Back</span><div id="circle"></div></div>
		</div>
	</div>


	<script src="main.js"></script>
</body>
</html>