<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/login.css">
    
    <title>Login</title>
</head>
<body>
    
    <div class="form-structor">
        <div class="signup">
            <h2 class="form-title" id="signup">Log in</h2>
            <div class="form-holder">
                <input type="text" class="input" id="id" placeholder="User Id" required>
                <input type="password" class="input" id="password" placeholder="Password" required>
            </div>
            <button class="submit-btn" onclick="func()">Log in</button>
            <div style="position: relative;display: none">
                <p><span style="color:red; width:100%; font-size: 15px;">Reason: </span> Hanji kuch toh hai</p>
            </div>
        </div>
        
    </div>
    <script src="/js/login.js"></script>


</body>
</html>